{% extends 'base.html' %}

{% block title %}
    صفحه اصلی
{% endblock %}

{% block content %}
    {% for post in latest_posts %}
            <table class="table table-white table-hover text-center my-5">
            <tbody>
                <tr>
{#                    <td>#}
{#                        <img src="/media/{{ post.image }}" style="width: 100px; height: 100px">#}
{#                    </td>#}
                    <td>
                        <a class="nav-link" href="{% url 'blog:post_detail' post.id %}">
                        {{ post.title }}
                        </a>
                    </td>
                    <td>
                        دسته بندی : {{ post.category }}
                    </td>
                    <td>
                        نوشته شده توسط : {{ post.author }}
                    </td>
                    <td>
                        تاریخ انتشار : {{ post.datetime }}
                    </td>
                    <td>
                        تعداد لایک : {{ post.get_count_likes }}
                    </td>
                    <td>
                        تعداد دیسلایک : {{ post.get_count_dislikes }}
                    </td>
                    <td>
                        برچسب : {{ post.get_tags }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}