{% extends 'base.html' %}
{% load static %}
{% block title %}
    پست جدید
{% endblock %}

{% block content %}
<div class="row justify-content-center my-5">
    <form id="new-post" class="col-5 my-5" action="{% url 'blog:newpost' %}" method="post">
    {% csrf_token %}
        {{ form_tag.management_form }}
        <table id="table-post">
            {{ form_post.as_table }}
        </table>
        {% for form in form_tag %}
            <div class="tag-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
        <button type="button" class="btn btn-outline-primary" id="add-tag">اضافه کردن تگ</button>
        <br><br>
        <input type="submit" value="ارسال">
    </form>
</div>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script src="{% static 'blog/js/script.js' %}"></script>
{% endblock %}