{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="row my-5">
    <h7 class="'my-4">
        دسته بندی:
        <a class="nav-link" href="{% url 'blog:category_posts' post.category.id %}" style="display: inline-block">
            {{ post.category }}
        </a>
    </h7>
    <h2 class="my-2">
        {{ post.title }}
    </h2>
    <h7 class="my-2">
        نوشته شده توسط {{ post.author }} در تاریخ {{ post.datetime }}
    </h7>
    {% if post.image %}
        <img class="mx-auto my-3" src="/media/{{ post.image }}" style="width: 1000px; height: 500px">
    {% endif %}
    <p>
        {{ post.text }}
    </p><br><br><br>
    <h7>
        برپسب ها :
        {% for tag in post.tag.all %}
            <a class="nav-link" href="{% url 'blog:tag_posts' tag.id %}" style="display: inline-block">
                {{ tag.name }}
            </a>
        {% endfor %}
    </h7>
    </div>
    <div class="row my-5">
    <h4 class="my-5">
        نظرات کاربران
    </h4>
    {% for comment in comments %}
    <h7 class="my-2">
        نوشته شده توسط {{ comment.author }} در تاریخ {{ comment.datetime }}
    </h7>
    <p>
        {{ comment.text }}
    </p><hr>
    {% endfor %}
    </div>
{% endblock %}