{% extends 'base.html' %}

{% block title %}
    پست های {{ tag }}
{% endblock %}

{% block content %}
    {% for post in posts %}
            <table class="table table-white table-hover text-center my-5">
            <tbody>
                <tr>
{#                    <td>#}
{#                        <img src="/media/{{ post.image }}" style="width: 100px; height: 100px">#}
{#                    </td>#}
                    <td>
                        <a class="nav-link" href="{% url 'blog:post_detail' post.id %}">
                        {{ post.title }}
                        </a>
                    </td>
                    <td>
                        دسته بندی : <a class="nav-link" href="{% url 'blog:category_posts' post.category.id %}" style="display: inline-block">
                            {{ post.category }}
                            </a>
                    </td>
                    <td>
                        نوشته شده توسط : {{ post.author }}
                    </td>
                    <td>
                        تاریخ انتشار : {{ post.datetime }}
                    </td>
                    <td>
                        تعداد لایک : {{ post.get_count_likes }}
                    </td>
                    <td>
                        تعداد دیسلایک : {{ post.get_count_dislikes }}
                    </td>
                    <td>
                        برچسب :
                        {% for tag in post.tag.all %}
                            <a class="nav-link" href="{% url 'blog:tag_posts' tag.id %}" style="display: inline-block">
                            {{ tag.name }}
                            </a>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endfor %}
{% endblock %}