<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {%  block title %}
        {% endblock %}
    </title>
    {% block head %}
    <link rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-mUkCBeyHPdg0tqB6JDd+65Gpw5h/l8DKcCTV2D2UpaMMFd7Jo8A+mDAosaWgFBPl" crossorigin="anonymous">
    {% endblock %}

    <style>
        main > .container {
            padding: 80px 15px 0;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body class="d-flex flex-column h-100" data-gr-ext-installed="" dir="rtl">
    <header>
        <nav class="navbar navbar-expand-md navbar-info fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" href="{% url 'blog:index' %}">
                    وبلاگ تست
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggle-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item active">
                            <a class="nav-link text-dark" href="#">دسته بندی</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-dark" href="{% url 'blog:newpost' %}">پست جدید</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-dark" href="#">درباره ما</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-dark" href="#">تماس با ما</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-outline-primary">
                    <a href="{% url 'login' %}">ورود</a>
                </button>&nbsp;&nbsp;
                <button type="button" class="btn btn-outline-primary">ثبت نام</button>
            </div>
        </nav>
    </header>
<main class="flex-shrink-0">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">
            &copy; کلیه حقوق این سایت متعلق به موسسه تست می باشد.
        </span>
    </div>
</footer>
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>